<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- the targets to write to -->
    <targets async="true">
        <target xsi:type="ColoredConsole"
                name="c"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Error" writeTo="c" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Error" final="true" /> <!-- BlackHole without writeTo -->
        <logger name="Orleans.*" maxlevel="Error" final="true" /> <!-- BlackHole without writeTo -->
        <logger name="Newbe.Claptrap.*" minlevel="Info" writeTo="c" />
    </rules>
</nlog>