@page "/"

<PageContainer Title="Welcome">
    <Card>
        <Text>
            <p>You can click Auction Simulator at menu and start this demo.</p>
            <p>您可以通过左侧的菜单中的 Auction Simulator 来启动本示例</p>
        </Text>
        <Text
            Style="margin-bottom: 12px">
            This website is powered by
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/ant-design-blazor/ant-design-blazor">
                ant-design-blazor
            </a>
        </Text>

    </Card>
</PageContainer>