name: benchmark_db_event_saving_sqlite

on:
  push:
    branches:
      - feature/benchmark

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        total_count:
          - 1000
          # - 100000
          # - 5000000
          # - 20000000
        batch_size:
          - 1000
          # - 5000
          # - 10000
          # - 20000
          # - 50000
    container: mcr.microsoft.com/dotnet/sdk:5.0
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Run Benchmark
        env:
          TestConsoleOptions__DatabaseType: sqlite
          TestConsoleOptions__TotalCount: ${{ matrix.total_count }}
          TestConsoleOptions__BatchSize: ${{ matrix.batch_size }}
          TestConsoleOptions__SetupLocalDatabase: true
        run: |
          dotnet run --project $GITHUB_WORKSPACE/src/Newbe.Claptrap.StorageTestConsole/Newbe.Claptrap.StorageTestConsole.csproj --configuration Release
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          path: |
            $GITHUB_WORKSPACE/src/Newbe.Claptrap.StorageTestConsole/bin/Release/net5.0/TestResults/*.json
