name: benchmark_db_event_saving_mongodb

on:
  push:
    branches:
      - feature/benchmark_mongodb
      - feature/k6

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        total_count:
          - 1000
          - 100000
          - 5000000
          - 20000000
        batch_size:
          - 1000
          - 5000
          - 10000
          - 20000
          - 50000
        worker_count:
          - 1
          - 3
          - 5
    container: mcr.microsoft.com/dotnet/sdk:5.0
    services:
      mongo:
        image: mongo
        ports:
          - 27017
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: claptrap
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Run Benchmark
        env:
          TestConsoleOptions__DatabaseType: mongodb
          TestConsoleOptions__TotalCount: ${{ matrix.total_count }}
          TestConsoleOptions__BatchSize: ${{ matrix.batch_size }}
          TestConsoleOptions__WorkerCount: ${{ matrix.worker_count }}
          TestConsoleOptions__SetupLocalDatabase: false
          Claptrap__DefaultConnectionString: "mongodb://root:claptrap@mongo:27017/claptrap?authSource=admin"
        run: |
          dotnet run --project $GITHUB_WORKSPACE/src/Newbe.Claptrap.StorageTestConsole/Newbe.Claptrap.StorageTestConsole.csproj --configuration Release
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          path: |
            src/Newbe.Claptrap.StorageTestConsole/bin/Release/net5.0/TestResults/*.json
