name: Publish dev nuget package to azure

on:
  push:
    branches:
      - develop
      - feature/ci
      - feature/ut

jobs:
  build:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:5.0

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - uses: aarnott/nbgv@v0.3
        with:
          setAllVars: true

      - run: echo "NBGV_SemVer2 $NBGV_SemVer2"

      - name: pack
        run: |
          cd $GITHUB_WORKSPACE/src
          mkdir pkgs
          dotnet pack --configuration Release -o ./pkgs -p:PackageVersion=$NBGV_SemVer2
          dotnet pack Newbe.Claptrap.Template/Newbe.Claptrap.Template.csproj -o ./pkgs -p:PackageVersion=$NBGV_SemVer2

      - name: Push nuget package to Azure storage
        env:
          SLEET_FEED_TYPE: azure
          SLEET_FEED_CONTAINER: feed
          SLEET_FEED_CONNECTIONSTRING: ${{secrets.SLEET_CONNECTIONSTRING}}
        run: |
          cd $GITHUB_WORKSPACE/src
          dotnet tool install -g sleet
          sleet push ./pkgs --skip-existing
