name: Claptrap build

on:
  push:
    branches:
      - master
      - develop
      - feature/ci
      - feature/ut
      - feature/dapr

  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:5.0
    services:
      mongo:
        image: mongo
        ports:
          - 27017
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: claptrap
      mysql:
        image: mysql
        # options: >-
        #   --local-infile=1
        ports:
          - 3306
        env:
          MYSQL_ROOT_PASSWORD: claptrap
          MYSQL_DATABASE: claptrap
          MYSQL_USER: claptrap
          MYSQL_PASSWORD: claptrap
      postgres:
        image: postgres:12.3-alpine
        env:
          POSTGRES_PASSWORD: claptrap
          POSTGRES_DB: claptrap
        ports:
          - 5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports:
          - 5672
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE/src
          dotnet restore
      - name: build and test
        run: |
          dotnet build $GITHUB_WORKSPACE/src --configuration Release
          dotnet test $GITHUB_WORKSPACE/src --configuration Release -l "console;verbosity=detailed" --collect:"XPlat Code Coverage" --settings $GITHUB_WORKSPACE/src/coverlet.runsettings -- NUnit.Where="namespace =~ ^Newbe"
      # - name: Sonarscanner for dotnet
      #   uses: Secbyte/dotnet-sonarscanner@v2.3
      #   with:
      #     buildCommand: dotnet build $GITHUB_WORKSPACE/src --configuration Release
      #     testCommand: dotnet test $GITHUB_WORKSPACE/src --configuration Release -l "console;verbosity=detailed" --collect:"XPlat Code Coverage" --settings $GITHUB_WORKSPACE/src/coverlet.runsettings -- NUnit.Where="namespace =~ ^Newbe"
      #     projectKey: newbe36524_Newbe.Claptrap
      #     projectName: Newbe.Claptrap
      #     sonarOrganisation: newbe36524
      #     beginArguments: >
      #       /d:sonar.cs.opencover.reportsPaths='"src/*.Tests/TestResults/*/coverage.opencover.xml"'
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     Claptrap__RabbitMQ__Uri: amqp://guest:guest@rabbitmq:5672/%2f
      - name: Codecov
        uses: codecov/codecov-action@v1.0.13
        # with:
        #   # User defined upload name. Visible in Codecov UI
        #   name: # optional
        #   # Repository upload token - get it from codecov.io. Required only for private repositories
        #   token: # optional
        #   # Path to coverage file to upload
        #   file: # optional
        #   # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
        #   flags: # optional
        #   # Specify whether or not CI build should fail if Codecov runs into an error during upload
        #   fail_ci_if_error: # optional

      - name: Codacy Coverage Reporter
        uses: codacy/codacy-coverage-reporter-action@0.2.0
        with:
          # Project token for the Codacy project you want to send coverage information
          project-token: ${{ secrets.CODACY_TOKEN }}
          # Optional comma separated list of coverage reports to send to Codacy
          coverage-reports: src/*.Tests/TestResults/*/coverage.opencover.xml # optional, default is
